REDIS_URL=redis://localhost:6380/0

FRONTEND_HOST=http://localhost:3000

BACKEND_HOST=localhost
BACKEND_PORT=8000

# 允许跨域请求（CORS）的前端地址列表。
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:3000,https://localhost,https://localhost:3000"

BYTEDANCE_APP_ID=your_bytedance_api_id
BYTEDANCE_TOKEN=your_bytedance_token
BYTEDANCE_AK=your_bytedance_ak
BYTEDANCE_SK=your_bytedance_sk
BYTEDANCE_API_KEY=your_bytedance_api_key

LLM_NAME=your_llm_name
LLM_BASE_URL=your_llm_base_url
LLM_API_KEY=your_llm_api_key

IMAGE_MODEL_NAME=change this
IMAGE_MODEL_API_KEY=change this
IMAGE_MODEL_BASE_URL=change this

STORYBOARD_TRY_COUNT=3

LOG_ENABLED=True
LOG_DIR=LOGS
LOG_LEVEL=DEBUG

SECRET_KEY=your secret key
ACCESS_TOKEN_EXPIRE_MINUTES=60  # 用户凭证有效时长，单位 分钟

# DEV PRODUCTION
RUN_ENV=DEV

SUPER_ADMINI_EMAIL=spuer_admin@email.com
SUPER_ADMINI_PASSWORD=password

POSTGRES_SERVER=your postgres server
POSTGRES_PORT=your postgres port
POSTGRES_USER=your postgres user name
POSTGRES_PASSWORD=your postgres password
POSTGRES_DB=your postgres db name