# 后端配置
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/parse_video
REDIS_URL=redis://localhost:6380/0
DASHSCOPE_API_KEY=your_dashscope_api_key

FRONTEND_HOST=http://localhost:3000

BACKEND_HOST=localhost
BACKEND_PORT=8000


BYTEDANCE_APP_ID=your_bytedance_api_id
BYTEDANCE_TOKEN=your_bytedance_token
BYTEDANCE_AK=your_bytedance_ak
BYTEDANCE_SK=your_bytedance_sk
BYTEDANCE_API_KEY=your_bytedance_api_key

LLM_NAME=your_llm_name
LLM_BASE_URL=your_llm_base_url
LLM_API_KEY=your_llm_api_key

STORYBOARD_TRY_COUNT=3

LOG_ENABLED=True
LOG_DIR=LOGS
LOG_LEVEL=DEBUG

SECRET_KEY=your secret key
ACCESS_TOKEN_EXPIRE_MINUTES=60  # 用户凭证有效时长，单位 分钟

# DEV PRODUCTION
RUN_ENV=DEV